@import 'colori';
@import '../mixins/mixins';

h1 {
	@include colorePrimario;
    font-size: 2rem !important;
}

h2 {
    color: map-get($map: $setColori, $key: grigio);
    font-size: 1.5rem !important;
}