html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #742305;
}

#container {
    display: flex;
    flex-direction: column;
}

/*NAV*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fef7e2;
    border-radius: 100px;
    padding: 20px;
}

nav * {
    margin: 10px;
    border-radius: 100px;
    background-color: #ffdf7e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-nav {
    height: 50px;
    width: 35%;
/********************************************************************/
}
