html, body {
    padding: 10px 5px;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #732104;
    text-align: center;
}

nav {
    background-color: #FEF7E2;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

nav > div {
    margin: 10px;
}

nav, .card, article {
    background-color: #FEF7E2;
    border-radius: 70px;
    margin: 20px 0;    /* divido le card di 20 px*/
}

#titolo .section_1 h2 {
    font-size: 2.5em;
    font-weight: 800;
}


.bottoni, #titolo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDF7F;
    border-radius: 70px;
    width: 38%;
}

#titolo {
    background-color: #FFDF7F;
    border-radius: 70px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px
}

#titolo div {
    margin: 0 10px ;
}

#titolo div img {
    width: 50px;
}

.card div img {
    width: 100%;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.description {
    display: flex;
}

.didascalia h3 {
    margin-bottom: 0px;
}

.didascalia p {
    margin-top: 2px;
}

.description {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.addCart h3{
    margin: 6px;
}

.bottone .bottoni {
    padding: 2px;
}

article {
    padding: 20px;
    text-align: left;
}

aside article img{
    width: 100%;
}


@media screen and (min-width: 576px) {
    nav {
        display: flex;
        align-items: baseline;
        
    }
}




