body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,
footer {
	height: 150px;
	border: 2px solid black;
    background-color: rgb(50, 49, 49);
    color: bisque;
}

header nav ul {
    display: inline;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

header nav ul li {
    display: inline;
}

header nav ul li a:link, header nav ul li a:visited  {
    text-decoration: none;
    color: bisque;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: magenta;
}

.sposta {
    border: 2px solid black;
    margin: 20px;
    text-align: center;
}

main {
	margin: 0 auto;
	width: 90%;
}

main p {
	column-count: 2;
	column-rule: solid 1px;
	column-fill: balance-all;
}

.sposta img {
    max-width: 50%;
}

main div {
    display: inline-block;
    width: 45%;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    main div {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    main div {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) {
    footer {
        position: relative;
    }
}

@media print {
    header, footer, main div:last-child {
        display: none;
    }

    #principale {
        border: 0;
        width: 100%;
    }

    main p {
        column-count: 1;
        column-width: 100%;
        column-rule: none;
    }
}